<%= link_to("Home", books_path())%>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<h3><%= @book.publish_date%></h3>
<h3><%= @book.price%><h3>
<%= link_to("Edit", edit_book_path(@book))%>
<%= link_to("Delete", delete_book_path(@book), class: 'action delete')%>
